/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'VG5000';
		src: url('/fonts/VG5000.woff2');
	}
}
